.page {
  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
}

// Коли скрол вимкнено
.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  @include content-padding-inline;
}

